<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
	<style>
		.column{
		margin-left:50px;
		}
	</style>
    <body>
		 <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Local market</a>
				<a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
				 <% if(!currentShopkeeper){ %> 
				<li><a href="/shopkeeperlogin">Login</a></li>
				<li><a href="/register">SignUp</a></li>
				 <% }else{%> 
				 <!-- <li class="dropdown">
                          <a href="/shopkeepernotification" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge">.....</span></a>
                          <ul class="dropdown-menu">
                            <li> -->
				<li><a href="#">Signed in as <%= currentShopkeeper.name %></a></li>
				<li><a href="/shopkeeperlogout">Logout</a></li>
				<% } %>
			</ul>
			</div>
			 </div>
		</nav>
		<!-- </div> -->
	<div style="margin-top:5%;" class="container">
						<% if(success && success.length>0){ %>
		<div class="alert alert-success" role="alert">
  <%= success %>
		</div>
		<% } %>
		</div>
		<% if(error && error.length>0){ %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
</div>
		<% } %>
		<h1>Reply</h1>
	<div class="container">
				<p> <%= notification.username %> </p>
				<p> <%= notification.prname %>  </p>
				<p> <%= notification.prprice %>  </p>
				<a href="/user/<%= notification.userid %>">Reply</a>
		
	</div>

	</body>
</html>